<h1>All User List</h1>
<table border="1" width="50%">
  <tr>
    <th>User Name</th>
    <th>User Email</th>
  </tr>

  <% if @users %>
      <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
      </tr>
      <% end %>
  <% else %>
      <tr>
         <td colspan="2"><center>No user available</center></td>
      </tr>
  <% end %>

</table>

