<h1>User List</h1>
<table border="1" width="50%">
  <tr>
    <th>User Name</th>
    <th>User Email</th>
  </tr>
  <tr>
    <td><%= @user.name %></td>
    <td><%= @user.email %></td>
  </tr>
</table>

