<div class="span4">
  <h3>How it works?</h3>
  <p>Here i am going to give some example of conditional statements in Rails.
    Here i am going to give some example of conditional statements in Rails.</p>
</div>

<div class="span4">
  <h3>Our Services</h3>
  <p>Here i am going to give some example of conditional statements in Rails.
    Here i am going to give some example of conditional statements in Rails.</p>
</div>

<div class="span4">
  <h3>Coming services</h3>
  <p>Here i am going to give some example of conditional statements in Rails.
    Here i am going to give some example of conditional statements in Rails.</p>
</div>

